*{
	margin:0 auto;
	padding:0;
	box-sizing:border-box;
}
a{
	text-decoration: none;		
}
body{
	font-family: PingFangSC-Light,'STHeiti Light','helvetica neue','hiragino sans gb',arial,'microsoft yahei ui','microsoft yahei',simsun,sans-serif;
}
/*背景图背景图背景图背景图背景图背景图背景图背景图背景图背景图背景图背景图背景图背景图背景图背景图背景图背景图背景图背景图背景图背景图*/
.banner-section{	
	position: relative;
	height: 564px;
	background-image: url(../img/banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
	font-size: 0;
}
.banner-scroll{
position: absolute;
	width: 100%;
	height: 19px;
	background-image: url(../img/scroll.jpg);
	background-repeat: no-repeat;
	background-position: center;
	bottom: 0;
}
.banner-container{
	width: 1000px;
}
.banner-container .head-logo{
	width: 113px;
	height: 42px;
	margin-top: 20px;
}

/*活动内容活动内容活动内容活动内容活动内容活动内容活动内容活动内容活动内容活动内容活动内容活动内容活动内容活动内容活动内容活动内容活动内容活动内容*/
.activity-section{
	position: relative;
	width: 1000px;
	font-size: 0;
	height: 290px;
	border: 6px solid #e2e2e2;
	border-bottom: none;
}
.activity-section:before{
	content: '';
	position: absolute;
	background-image: url(../img/activity-mark.png);
	width: 60px;
	height: 109px;
	top: 25px;
	left: 20px;

}
.activity-section h1{
	font-size: 30px;
	color: #000000;
	text-align: center;
	margin-top: 92px;
	margin-bottom: 27px;
}
.activity-section p{
	font-size: 16px;
	color: #000000;
	text-align: center;
	line-height: 28px;
}
.shanjuchi-section{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 4px;
	background-image: url(../img/juchi-1.png);
}
/*固定导航*/
/*.activity-section .fixation-head{
	width: 108px;
	height: 356px;
	position: absolute;
	right: -114px;
	top: 66px;
	background-image: url(../img/fixation-head.png);
}*/

.fixation-head{
	position: absolute;
	right: -6px;
}
.fixation-head-list{
	position: absolute;
	width: 108px;
	height: 356px;
	top: 0px;
	background-image: url(../img/fixation-head.png);
}
.roll{
	position: fixed;
	top: 0px;
	width: 108px;
	height: 356px;
	background-image: url(../img/fixation-head.png);
}

.fixation-head-item{
	display: inline-block;
	position: absolute;
	width: 80px;
	height: 80px;
	font-size: 14px;
	color: #000;
	text-align: center;
	padding-top: 25px;
}
.fixation-head-item:hover{
	background-color:#f7f7f7; 
}

.fixation-head-item:nth-child(1){
	top: 32px;
	right: 1px;
}
.fixation-head-item:nth-child(2){
	top: 108px;
	right: 1px;	
}
.fixation-head-item:nth-child(3){
	top: 188px;
	right: 1px;
}
.fixation-head-item:nth-child(4){
	top: 268px;
	right: 1px;
	color: #cf000d;
}


/*教师们教师们教师们教师们教师们教师们教师们教师们教师们教师们教师们教师们教师们教师们教师们教师们教师们教师们教师们教师们*/
.teacher-section{
	width: 1000px;
	/*height: 2510px;*/
	border-left: 6px solid #e2e2e2;
	border-right: 6px solid #e2e2e2;
	background-color: #f7f7f7
}
/*课程布道师课程布道师课程布道师课程布道师课程布道师课程布道师课程布道师课程布道师课程布道师课程布道师课程布道师课程布道师*/
.course-section{

}
.course-logo{
	position: relative;
	width: 60px;
	height: 175px;
	display: inline-block;
	margin-left: 20px;
	margin-top: 20px;
}
.course-logo span{
	position: absolute;
	top: 31px;
	left: 9px;
	width: 18px;
	display: block;
	font-size: 18px;
	line-height: 26px;
	color: #000;
	font-weight: 600;

}
.course-logo:after{
	content: '';
	position: absolute;
	width: 66px;
	height: 34px;
	background-image: url(../img/cloud.png);
	top: 0;
	left: 0;

}
.course-logo:before{
	content: '';
	position: absolute;
	width: 31px;
	height: 71px;
	background-image: url(../img/dashan.png);
	bottom: 0;
	right: 0;
}
.course-text{
	display: inline-block;
	margin-top: 62px;
	width: 512px;
	margin-left: 18px;
	margin-right: 67px;
	vertical-align: top;
}
.course-text p{
	font-size: 16px;
	color: #000000;
	line-height: 26px;
	margin-top: 
}
.course-select{
	display: inline-block;
	position: relative;
	width: 256px;
	height: 220px;
	background-image: url(../img/18.png);
	vertical-align: top;
	margin-top: 25px;

}
.course-select .course-select-link{
	position: absolute;
	display: inline-block;
	font-size: 14px;
	color: #fff;
	bottom: 18px;
	right: 28px;

}


/*匠心布道师*/

.teach-section{
	position: relative;
	width: 1000px;
}
.teacher-section .teach-section:nth-child(2){
	top:-12px;
}
.teach-section .teach-title{
	position: relative;
	height: 60px;
	margin-left: 30px;
	padding-left: 70px;
	margin-bottom: 20px;
}
.teach-section .teach-title .teach-logo{
	position: absolute;
	top: 0;
	left: 0;
}
.teach-section .teach-title .teach-title-describe{
	font-size: 22px;
	color: #000000;
	font-weight: 600;
	line-height: 22px;
	padding-top: 12px;
	margin-bottom: 12px;
}
.teach-section .teach-title .teach-text{
	font-size: 16px;
	color: #000000;
}

.teach-list{
	display: inline-block;
	font-size: 0;
	width: 100%;
	margin-bottom: 40px;
	margin-left: 28px;
}
.teacher-section .teach-section:nth-child(9) .teach-list{
	margin-bottom: 75px;
}
.teach-list .teach-item{
	display: inline-block;
	position: relative;
	width: 292px;
	height: 241px;
	margin-right: 30px;
	border:1px solid #e6e6e6;
	text-align: center;
	vertical-align: top;
}
.teach-list .teach-item:nth-child(3){
	margin-right: 0;
}
.teach-list .teach-item:after{
	content: '';
	width: 20px;
	height: 19px;
	background-image: url(../img/bianhua-1.png);
	position: absolute;
	top: 0;
	left: 0;
}
.teach-list .teach-item:before{
	content: '';
	width: 20px;
	height: 19px;
	background-image: url(../img/bianhua-2.png);
	position: absolute;
	top: 0;
	right: 0;
}
.teach-list .teach-item .teach-head{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-top: 12px;
	margin-bottom: 22px;
}
.teach-list .teach-item .teach-name{
	font-size: 18px;
	color: #000;
	margin-bottom: 10px;
}
.teach-list .teach-item .teach-describe{
	font-size: 14px;
	line-height: 18px;
	color: #000;
	text-align: left;
	margin-left: 15px;
}
.teach-list .teach-item .teach-advertising{
	width: 100%;
	height: 100%;
	vertical-align: bottom;
}
.teach-location-advertising{
	display: inline-block;
	width: 292px;
	height: 241px;
	margin-right: 30px;
	vertical-align: top;
}
.teach-location-advertising .teach-advertising{
	width: 100%;
	height: 100%;
}
.supplement-item{
	position: absolute;
	width: 182px;
	bottom: 24px;
	right: 25px;
}
.supplement-text{
	font-size: 14px;
	line-height: 16px;
	color: #666666;
	text-align: right;
}

.xiajuchi-section{
	position: absolute;
	bottom: 0;
	width: 988px;
	height: 4px;
	background-image: url(../img/juchi-2.png);
}

/*横线*/
.segmentation-section{
	width: 1000px;
	height: 16px;
	background-image: url(../img/hengxian.png);
	background-repeat: no-repeat;
	background-position: center;
}



/*殷殷寄语*/
.benediction-section{
	position: relative;
	width: 1000px;
	height: 490px;
	background-color: #fff;
	border-left: 6px solid #e2e2e2;
	border-right: 6px solid #e2e2e2;

}
.benediction-subheading{
	position: absolute;
	top: 20px;
	left: 20px;
	width: 60px;
}
.benediction-subheading:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 66px;
	height: 34px;
	background-image: url(../img/cloud.png);
}
.benediction-subheading:before{
	content: '';
	position: absolute;
	top: 40px;
	right: 1px;
	width: 31px;
	height: 66px;
	background-image: url(../img/jiyu.png);
}
.benediction-subheading p{
	position: absolute;
	top: 33px;
	left: 8px;
	display: block;
	width: 18px;
	font-size: 18px;
	line-height: 21px;
	color: #000;
	font-weight: 600;
}

.benediction-describe .benediction-title{
	text-align: center;
	font-size: 30px;
	color: #333;
	padding-top: 40px;
	margin-bottom: 12px;
}

.benediction-describe .benediction-text{
	display: inline-block;
	margin-left: 96px;

}
.benediction-text .benediction-letter{
	display: inline-block;
	width: 351px;
	margin-top: 12px;
	margin-bottom: 17px;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	text-decoration:underline;
}
.benediction-text-list{
	
	/*width: 342px;*/
}
.benediction-text-item{
	position: relative;
	font-size: 12px;
	line-height: 18px;
	color: #000;
	padding-left: 61px;
}
.benediction-text-item p{
margin-bottom: 7px;	
}

.benediction-text-item span{
	position: absolute;
	left: 0;
	
}

.benediction-gift{
	display: inline-block;
	vertical-align: top;
	font-size: 0;
	margin-left: 36px;
}
.benediction-gift .benediction-gift-item{
	display: inline-block;
	width: 229px;
	height: 276px;
	margin-right: 20px;
	background-image: url(../img/shield-1.png);
	background-repeat: no-repeat;
	vertical-align: top;
}
.benediction-gift .benediction-gift-item:nth-child(2){
	background-image: url(../img/shield-2.png);
}

.gift-button{
	margin-top:171px;
	margin-left: 46px;
	display: inline-block;
	width: 137px;
	height: 32px;
	font-size: 18px;
	line-height: 32px;
	border-radius: 18px;
	text-align: center;
	z-index: 10;
}
.benediction-gift-item:nth-child(1) .gift-button{
	background-color: #ebf4ff;
	color: #3e86ab;
}
.benediction-gift-item:nth-child(2) .gift-button{
	background-color: #fff3eb;
	color: #a96e37;
}

.gift-roll{
	font-size: 16px;
	color: #000;
	font-weight: 600;
	text-align: center;
	margin-top: 42px;
}

.benediction-input{
	padding-top: 20px;
	font-size: 0;
	margin-bottom: 27px;
}
.benediction-input-list{
	position: relative;
	width: 850px;
	height: 87px;
	border:1px solid #dbdbdb;
	box-sizing:content-box;
}
.benediction-input-list .benediction-input-text{
	display: inline-block;
	width: 700px;
	height: 87px;
	vertical-align: top;
	outline: none;
	padding-left: 10px;
	padding-bottom: 60px;
	color: #000;
	font-size: 16px;
	border:none;
}
.benediction-input-list:after{
	content: '';
	width: 20px;
	height: 19px;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../img/bianhua-1.png);

}
.benediction-input-list:before{
	content: '';
	width: 20px;
	height: 19px;
	position: absolute;
	bottom: 0;
	right: 150px;
	background-image: url(../img/bianhua-3.png);

}
.benediction-input-list .benediction-input-button{
	display: inline-block;
	width: 150px;
	height: 87px;
	background-color: #f3f3f3;
	outline: none;
	text-decoration: none;
	font-size: 16px;
	line-height: 22px;
	color: #666666;
	text-align: center;
	padding-top: 21px;
	padding-left: 42px;
	padding-right: 42px;
	border-left: 1px solid #dbdbdb;
}

/*卡片祝福*/

.guestbook-section{
	position: relative;
	width: 1000px;
	height: 552px;
	background-color: #fff;
	border: 6px #e2e2e2 solid;
	border-top:none;
	font-size: 0;
	overflow: hidden;
}
.guestbook-section:before{
	content: '';
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 294px;
	height: 168px;
	background-repeat: no-repeat;
	background-image: url(../img/guestbook-img.jpg);
}
.guestbook-item{
  position: absolute;
  display: inline-block;
  top: 10px;
  left: 10px;
  width: 320px;
  height: 160px;
  border:1px #ead6c6 solid;
  background-color: #fff0f0;
  background-image: url(../img/stripe-01.png);
  cursor: pointer;
}
.guestbook-item-close{
  display: none;
  position: absolute;
  top: -24px;
  right: 0px;
  width: 15px;
  height: 23px;
  background-image: url(../img/close.png);
  background-repeat: no-repeat;
  z-index: 72;
}
.guestbook-item:hover .guestbook-item-close{
  display: inline-block;
}
.guestbook-item:after{
  content: '';
  position: absolute;
  top:-18px;
  left: -11px;
  display: inline-block;
  width: 350px;
  height: 46px;
  background-image: url(../img/rubberized.png);
  background-repeat: no-repeat;
  z-index: 71;
}
.guestbook-item:before{
  content: '';
  position: absolute;
  top:0px;
  right: 0px;
  display: inline-block;
  width: 320px;
  height: 160px;
  background-image: url(../img/stripe-01.png);
  background-repeat: no-repeat;
}
.guestbook-item .guestbook-item-title{
  font-size: 16px;
  color: #000000;
  margin-top: 20px;
  margin-left: 18px;
  z-index: 999;
}
.guestbook-item .guestbook-item-text{
  font-size: 14px;
  color: #000;
  line-height: 26px;
  width: 281px;
  margin-left: 18px;
  z-index: 999;
} 


/*卡片祝福*/

.foot-section{
	position: relative;
	width: 1000px;
	background-color: #fff;
}
.foot-scroll{
	position: relative;
  width: 100%;
  height: 19px;
  background-image: url(../img/scroll.jpg);
  background-repeat: no-repeat;
  background-position: center;
  bottom: 3px;
  z-index: -1;
}
.foot-section h4{
	font-size: 16px;
	text-align: center;
	color: #000;
	margin-top: 65px;
}
.foot-section p{
	font-size: 12px;
	color: #000000;
	margin-top: 8px;
	text-align: center;
	margin-bottom: 48px;
}
.foot-section a{
	color: #000000;
}